[submodule "ruby-build"]
	path = ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "letsencrypt.sh"]
	path = letsencrypt.sh
	url = https://github.com/lukas2511/letsencrypt.sh.git
