-r requirements.txt
django-debug-toolbar
flake8
git+https://github.com/orf/django-debug-toolbar-template-timings.git@d1a123d#egg=django-debug-toolbar-template-timings
isort
pep257
pep8
pre-commit
pylint
pylint-django
yapf
