-r requirements.txt
django-debug-toolbar
git+https://github.com/orf/django-debug-toolbar-template-timings.git@d1a123d#egg=django-debug-toolbar-template-timings
flake8
isort
pep8
pep257
pylint
pylint-django
yapf
