[dev-packages]
ansible = "*"
ansible-lint = "*"
bumpversion = "*"
django-debug-toolbar = "*"
django-debug-toolbar-template-timings = ">= 0.7"
flake8 = "*"
isort = "*"
pep257 = "*"
pep8 = "*"
pylint = "*"

[packages]
bleach = "*"
bleach-whitelist = "*"
Django = "~= 2.0.0"
django-mysql = "*"
django-s3-storage = "*"
django-stdimage = "*"
gunicorn = "*"
markdown = "*"
mysqlclient = ">= 1.3.3"
Pillow = "*"
python-dotenv = "*"
pytz = "*"
