{% extends "base.html" %}

{% load email_obfuscate %}

{% block active_app %}contact{% endblock %}

{% block title %} hyperbo.la :: Contact {% endblock %}

{% block content %}
	<h1>Contact {{name}}</h1>
	
	{% for type, contacts_for_type in contacts %}
		<h2>{{type}}</h2>
		
		<table class="contact_table">
		  {% for name, value in contacts_for_type %}
		  	<tr>
		  		<td>{{name}}</td>
		  		<td>{{value|obfuscate}}</td>
		  	</tr>
		  {% endfor %}
		</table>
	{% endfor %}

{% endblock %}