{% extends "base.html" %}

{% load email_obfuscate %}
{% load thumbnail %}

{% block active_app %}contact{% endblock %}

{% block title %} hyperbo.la :: Contact {% endblock %}

{% block section-title %}Contact Information{% endblock %}

{% block content %}
  <div id="left_col">
    <h1>{{name|escape}}</h1>

    {% for category in contacts %}
      <h2>{{category.title|escape}}</h2>

      <table class="contact_table">
        {% for contact in category.contacts %}
          <tr>
            <td>{{contact.name|escape}}</td>
            {% if contact.is_url %}
            <td><a href="{{contact.value|safe}}">{{contact.link_text|escape}}</a>
            {% elif contact.is_email %}
            <td>{{contact.value|obfuscate}}</td>
            {% else %}
            <td>{{contact.value|escape}}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    {% endfor %}

  </div>

  <div id="right_col">
    <h2>About</h2>
    {% thumbnail about.photo "240" format="JPEG" as thumb %}
    <div class="fullwidth">
      <a href="{{about.photo.url}}">
        <img src="{{thumb.url}}" />
      </a>
    </div>
    {% endthumbnail %}
    <p>{{about.blurb|escape}}</p>
  </div>
{% endblock %}
