{% extends "base.html" %}

{% load email_obfuscate %}

{% block active_app %}contact{% endblock %}

{% block title %} hyperbo.la :: Contact {% endblock %}

{% block content %}
  <div id="left_col">
    <h1>Contact {{name}}</h1>

    {% load dict_filters %}
    {% filter sorted_dict_keys display_order as keys %}
    {% for order in display_order|sorted_dict_keys %}
      {% filter display_order|dict_get:order as type %}
      {% filter contacts|dict_get:type as contacts_of_type %}
      <h2>{{contacts_of_type.0}}</h2>
      
      <table class="contact_table">
        {% for name, value in contacts_of_type.1 %}
          <tr>
            <td>{{name}}</td>
            <td>{{value|obfuscate}}</td>
          </tr>
        {% endfor %}
      </table>
    {% endfor %}
    
  </div>
  
  <div id="right_col">
    <h2>About</h2>
    <div class="fullwidth"><img src="{{about.0}}" /></div>
    <p>{{about.1}}</p>
  </div>
{% endblock %}
