{% extends "base.html" %}

{% load email_obfuscate %}
{% load thumbnail %}

{% block active_app %}contact{% endblock %}

{% block title %} hyperbo.la :: Contact {% endblock %}

{% block section-title %}Contact Information{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9">
      <h1>{{name|escape}}</h1>
      {% for category in contacts %}
        <h2>{{category.title|escape}}</h2>
        {% for contact in category.contacts %}
          <div class="row">
            <div class="col-md-4 hyperbola-ellipsis">{{contact.name|escape}}</div>
            {% if contact.is_url %}
              <div class="col-md-8 hyperbola-ellipsis">
                <a href="{{contact.value|safe}}">{{contact.link_text|escape}}</a>
              </div>
            {% elif contact.is_email %}
              <div class="col-md-8 hyperbola-ellipsis">{{contact.value|obfuscate}}</div>
            {% else %}
              <div class="col-md-8 hyperbola-ellipsis">{{contact.value|escape}}</div>
            {% endif %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    <div class="col-md-3">
      <h2>About</h2>
      {% thumbnail about.photo "240" format="JPEG" as thumb %}
      <div class="fullwidth">
        <a href="{{about.photo.url}}">
          <img src="{{thumb.url}}" />
        </a>
      </div>
      {% endthumbnail %}
      <p>{{about.blurb|escape}}</p>
    </div>
  </div>
{% endblock %}
