{% load hashtagize %}

<div class="blurb">
  <p class="lifestream_entry_header">
    <span class="date">
      <script type="text/javascript">
        //<![CDATA[
        (function () {
          // localize dates in the user's current locale
          var date = new Date();
          date.setTime({{post.pub_date|date:'U'}} * 1000);
          document.write(HyperbolaDateFormatter.printDate(date));
        })();
      </script>
    </span>
    <a href="{% url "lifestream.views.permalink" post.pk  %}">permalink</a>
  </p>
  {% if post.lifestreampicture %}
  <div class="fullwidth"><a href="{{post.lifestreampicture.picture.url}}" rel="lightbox"><img src="{{post.lifestreampicture.picture.url}}" /></a></div>
  {% endif %}
  <p>{{post.blurb|urlize|hashtagize}}</p>
</div>
