{% extends "lifestream_base.html" %}

{% block active_app %}lifestream{% endblock %}

{% block title %} hyperbo.la :: lifestream :: #{{tag}}
  {% if page != 1 %}
    :: page {{page}}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="section group">
    <div class="col span_2_of_3">
      {% if posts %}
        <h2>Results for #{{tag}}</h2>
        {% for post in posts %}
          {% include "blurb.html" %}
        {% endfor %}
        {% if posts.has_previous %}
          {% url "lifestream.views.tag_page" page_num=posts.previous_page_number tag=tag as newer %}
        {% endif %}
        {% if posts.has_next %}
          {% url "lifestream.views.tag_page" page_num=posts.next_page_number tag=tag as older %}
        {% endif %}
        {% include "page_links.html" %}
      {% else %}
        <h2>No results for #{{tag}}</h2>
      {% endif %}
    </div>
    <div class="col span_1_of_3">
      {% include "lifestream_archive.html" %}
    </div>
  </div>
{% endblock %}
