{% extends "base.html" %}

{% load staticfiles %}

{% block extrahead %}
<!-- feed discovery -->
{% url "lifestream.syndication.LatestEntriesFeed" as rss_url %}
<link rel="alternate" type="application/rss+xml" title="hyperbo.la lifestream (RSS)" href="{{rss_url}}">
{% url "lifestream.syndication.AtomLatestEntriesFeed" as atom_url %}
<link rel="alternate" type="application/atom+xml" title="hyperbo.la lifestream (Atom)" href="{{atom_url}}" />

<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap-lightbox/0.6.2/bootstrap-lightbox.css" %}" />

<script type="text/javascript">
  var HyperbolaDateFormatter={printDate:function(b){var a="";a+=this.padTo2(b.getHours());
  a+=":";a+=this.padTo2(b.getMinutes());a+=" ";a+=this.monthToNameMap[b.getMonth()];a+=" ";
  a+=this.padTo2(b.getDate());a+=" ";a+=b.getFullYear();return a},padTo2:function(a){if(a<10
  &&a>=0){return"0"+a}return""+a},monthToNameMap:{0:"jan",1:"feb",2:"mar",3:"apr",4:"may",5:
  "jun",6:"jul",7:"aug",8:"sep",9:"oct",10:"nov",11:"dec"},writeDate:function(t){var d=new
  Date();d.setTime(t*1000);document.write(this.printDate(d))}};
</script>
{% endblock %}

{% block section-title %}Lifestream{% endblock %}

{% block extrafooter %}
<script src="{% static "vendor/bootstrap-lightbox/0.6.2/bootstrap-lightbox.js" %}"></script>
{% endblock %}
