{% extends "lifestream_base_paged.html" %}

{% block "lifestream-posts-header" %}Posts from {{month|stringformat:"s"}} {{year|stringformat:"s"}}{% endblock %}

{% block "lifestream-posts" %}
  {% for post in posts %}
    {% include "blurb.html" %}
  {% endfor %}
  {% if posts.has_previous %}
    {% url "lifestream.views.archive" year month_num posts.previous_page_number as newer  %}
  {% endif %}
  {% if posts.has_next %}
    {% url "lifestream.views.archive" year month_num posts.next_page_number as older %}
  {% endif %}
  {% include "page_links.html" %}
{% endblock %}

{% block "lifestream-posts-empty" %}No posts from {{month|stringformat:"s"}} {{year|stringformat:"s"}}{% endblock %}
