{% extends "lifestream_base.html" %}

{% block active_app %}lifestream{% endblock %}

{% block title %} hyperbo.la :: lifestream 
  {% if posts.number != 1 %}
    :: page {{posts.number}}
  {% endif %}
{% endblock %}

{% block content %}
  <div id="left_col">
    {% for post in posts %}
    {% include "blurb.html" %}
    {% endfor %}
    {% url lifestream.views.page posts.previous_page_number as newer  %}
    {% url lifestream.views.page posts.next_page_number as older  %}
    {% include "page_links.html" %}
  </div>
  <div id="right_col">
    {% include "lifestream_archive.html" %}
  </div>
{% endblock %}
