{% extends "base.html" %}

{% block extrahead %}
<!-- lightbox scripts and styles -->
<script type="text/javascript" src="{{asset_url}}public/js/prototype.js"></script>
<script type="text/javascript" src="{{asset_url}}public/js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="{{asset_url}}public/js/lightbox.js"></script>
<link rel="stylesheet" href="{{asset_url}}public/css/lightbox.css" type="text/css" media="screen" />
<!-- date formatting -->
<script type="text/javascript" src="{{asset_url}}public/js/date-formatter.js"></script>
{% endblock %}
