<!DOCTYPE html>
<!-- vim: set ft=htmldjango: -->
<html>
  <head>
    {% load staticfiles %}
    {% load compressed %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1.0">

    <link rel="icon" href="{% static "img/artifact/favicon.png" %}">
    <!--[if IE]><link rel="shortcut icon" href="{% static "img/artifact/favicon.ico" %}"><![endif]-->

    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "img/artifact/apple-touch-icon-ipad-retina.png" %}">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "img/artifact/apple-touch-icon-iphone-retina.png" %}">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "img/artifact/apple-touch-icon-ipad.png" %}">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{% static "img/artifact/apple-touch-icon-iphone.png" %}">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    {% compressed_css "sitewide" %}
    {% block extrahead %}{% endblock %}
  </head>
  <body class="{% block active_app %}{% endblock %}">
    <div class="container hyperbola-container">
      <div class="navbar navbar-default hyperbola-navbar" role="navigation">
        <div class="navbar-header hyperbola-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="hyperbola-logo" href="{% url "frontpage.views.index" %}">
            <span class="sr-only">Hyperbola Front Page</span>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right hyperbola-nav-items">
            <li class="hyperbola-home"><a href="{% url "frontpage.views.index" %}">home</a></li>
            <li class="hyperbola-contact"><a href="{% url "contact.views.index" %}">contact</a></li>
            <li class="hyperbola-lifestream"><a href="{% url "lifestream.views.page" %}">lifestream</a></li>
          </ul>
        </div>
      </div>
      <div class="hyperbola-content">
        <div class="row">
          <div class="section-padding">
            <div class="col-md-12 section-title">{% block section-title %}{% endblock %}</div>
          </div>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-30651847-1');ga('send','pageview');
    </script>
    {% block extrafooter %}{% endblock %}
  </body>
</html>
