<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "public/css/global.20140108.css" %}" type="text/css" />
    <link rel="shortcut icon" href="{% static "public/images/favicon.png" %}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    {% block extrahead %}{% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30651847-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body class="{% block active_app %}{% endblock %}">
    <div id="site_container">
      <div id="header">
        <div id="logo">
          <a href="{% url "frontpage.views.index" %}">
            <img src="{% static "public/images/logov1.png" %}" />
          </a>
        </div>
        <ul id="navbar">
          <li id="home"><a href="{% url "frontpage.views.index" %}">home</a></li>
          <li id="contact"><a href="{% url "contact.views.index" %}">contact</a></li>
          <li id="lifestream"><a href="{% url "lifestream.views.page" %}">lifestream</a></li>
        </ul>
        <div class="floatfix"></div>
      </div>
      <div id="content">
        <div class="section group">
          <div class="col span_3_of_3 section-title">{% block section-title %}{% endblock %}</div>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block extrafooter %}{% endblock %}
  </body>
</html>
