<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- vim: set ft=htmldjango: -->
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "public/css/global.20140108.css" %}" type="text/css" />
    <link rel="shortcut icon" href="{% static "public/images/favicon.png" %}" />
    {% block extrahead %}{% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30651847-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body class="{% block active_app %}{% endblock %}">
    <div class="container hyperbola-container">
      <div class="navbar navbar-default hyperbola-navbar" role="navigation">
        <div class="navbar-header hyperbola-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="hyperbola-logo">
            <a href="{% url "frontpage.views.index" %}">
              <!--[if lte IE 8]><img src="{% static "icons/artifact/logo.header.png" %}" /><![endif]-->
              <!--[if gt IE 8]><img src="{% static "icons/source-svg/logo.header.svg" %}" /><![endif]-->
              <!--[if !IE]> --><img src="{% static "icons/source-svg/logo.header.svg" %}" /><!-- <![endif]-->

            </a>
          </div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right hyperbola-nav-items">
            <li class="hyperbola-home"><a href="{% url "frontpage.views.index" %}">home</a></li>
            <li class="hyperbola-contact"><a href="{% url "contact.views.index" %}">contact</a></li>
            <li class="hyperbola-lifestream"><a href="{% url "lifestream.views.page" %}">lifestream</a></li>
          </ul>
        </div>
      </div>
      <div class="hyperbola-content">
        <div class="row">
          <div class="section-padding">
            <div class="col-md-12 section-title">{% block section-title %}{% endblock %}</div>
          </div>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block extrafooter %}{% endblock %}
  </body>
</html>
