@CHARSET "ISO-8859-1";

body {
	background-color: black;
	color: darkgray;
}

#site_container {
	font-family: sans-serif;
	width: 960px;
	margin: auto;
}

a {
	color: rgb(40, 220, 220);
	text-decoration: none;
}

#header {
	background-color: #444444;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	position: relative;
	height: 60px;
}

#logo {
	float: left;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100%;
}

#logo img {
	display: block;
	margin: auto;
	border-style: none;
}

#navbar {
	position: absolute;
	right: 0px;
	top: 0px;
	white-space: nowrap;
	margin: 0px;
}

#navbar li {
	list-style-type: none;
	display: inline;
	float: left;
	min-width: 100px;
	margin: 0px;
	padding: 0px;
}

#navbar li a {
	display: block;
	padding: 36px 16px 5px;
	text-align: center;
	font-weight: bold;
}

#navbar li a:hover {
	background: #AAAAAA;
}

.contact #navbar li#contact a {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#AAAAAA'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#AAAAAA)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #444444,  #AAAAAA); /* for firefox 3.6+ */
}

.frontpage #navbar li#home a {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#AAAAAA'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#AAAAAA)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #444444,  #AAAAAA); /* for firefox 3.6+ */
}

.lifestream #navbar li#lifestream a {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#AAAAAA'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#AAAAAA)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #444444,  #AAAAAA); /* for firefox 3.6+ */
}

#content {
	background-color: #222222;
	color: darkgray;
	padding: 5px;
	width: 100%;
	position: relative;
}

/* contact CSS */
.contact_table  td {
	min-width: 200px;
}

/* frontpage CSS */
.blurb {
	border: 2px solid rgb(40, 220, 220);
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;	
	-webkit-border-radius: 10px;    /* for Safari */
    -moz-border-radius: 10px;       /* for Firefox */
}

#left_col {
	width: 69%;
	float: left;
}

#right_col {
	width: 30%;
	float: right;
	position: relative;
	left: 5px; /* combat padding of content container */
}

.newsfeed {
	background-color: #AAAAAA;
	padding: 2px;
	margin: 0px;
}

.news {
	font-size: 10pt;
	padding: 2px;
}

.pubdate {
	font-size: 8pt;
}

.row1 {
	background-color: #222222;
}
.row2 {
	background-color: #666666;
	color: #111111;
}

#news_title {
	color: #111111;
	margin: 0px;
	padding: 0px;
	font-size:12pt;
	text-align: center; 
}

.lifestream_entry_header {
	font-size: 8pt;
}

.fullwidth {
	width: 100%;
}

.fullwidth img {
	max-width: 80%;
	margin: auto;
	display: block;
}

#next {
	float: right;
}

#prev {
	float: left;
}

ul.syndication {
	list-style-image: url("http://assets.hyperbo.la/public/images/feed-icon-14x14.png");
}

.floatfix {
	clear: both;
}