[Unit]
Description=Gunicorn server for hyperbola django
After=syslog.target
After=network.target

[Service]
Type=simple
PIDFile=/var/run/hyperbola/gunicorn.pid
User=hyperbola-app
Group=hyperbola-app
WorkingDirectory=/hyperbola/app/current
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir /var/run/hyperbola-%i
ExecStartPre=/bin/chown -R hyperbola-app:hyperbola-app /var/run/hyperbola-%i/
ExecStartPre=-/hyperbola/app/current/bin/artifact-exec python app/manage.py migrate
ExecStart=/hyperbola/app/current/bin/artifact-exec gunicorn \
    --config /hyperbola/app/current/gunicorn.py \
    hyperbola.wsgi:application
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
