{% load staticfiles %}<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} hyperbo.la {% endblock title %}</title>
    <meta name="description" content="The personal website of Ryan Lopopolo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link href="{% static "main.bundle.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "main.bundle.js" %}"></script>
    {% endblock head %}
  </head>
  <body>
    <div class="container mb-5 hyperbola-container">
      <div>
        <div class="d-flex flex-row justify-content-between hyperbola-header">
          <input type="checkbox" id="navbar-toggle-checkbox">
          <a class="align-items-start hyperbola-logo text-hide" href="{% url "frontpage:index" %}">Hyperbola Logo</a>
          <div class="navbar-collapse collapse">
            <ul class="nav justify-content-end hyperbola-nav">
              <li class="nav-item text-center">
                <a class="nav-link align-bottom {% if request.resolver_match.app_name == "frontpage" %}active{% endif %}" href="{% url "frontpage:index" %}">
                  <strong class>home</strong>
                </a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link align-bottom {% if request.resolver_match.app_name == "contact" %}active{% endif %}" href="{% url "contact:index" %}">
                  <strong>contact</strong>
                </a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link align-bottom {% if request.resolver_match.app_name == "lifestream" %}active{% endif %}" href="{% url "lifestream:index" %}">
                  <strong>lifestream</strong>
                </a>
              </li>
            </ul>
          </div>
          <label for="navbar-toggle-checkbox" class="navbar-toggle collapsed mt-auto mb-auto mx-1" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span>&#9776;</span>
          </label>
        </div>
      </div>
      <div class="card hyperbola-section-title my-3 w-100">
        <div class="card-body">
          <span class="card-title"><strong>{% block section_title %}{% endblock section_title %}</strong></span>
        </div>
      </div>
      {% block content %}{% endblock content %}
    </div>
    {% block footer %}
    <script>retinajs();</script>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-30651847-1','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    {% endblock footer %}
  </body>
</html>
