<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles pipeline %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="The personal website of Ryan Lopopolo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static "img/artifact/favicon.png" %}">
    <!--[if IE]><link rel="shortcut icon" href="{% static "img/artifact/favicon.ico" %}"><![endif]-->
    <link rel="apple-touch-icon" href="{% static "img/artifact/apple-touch-icon.png" %}">

    {% stylesheet "sitewide" %}
    {% block extrahead %}{% endblock %}
  </head>
  <body class="{% block active-app %}{% endblock %}">
    <div class="container hyperbola-container">
      <div class="navbar navbar-default navbar-hyperbola" role="navigation">
        <div class="navbar-header navbar-header-hyperbola">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="hyperbola-logo text-hide" href="{% url "frontpage-index" %}">Hyperbola Front Page</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="hyperbola-home text-center"><a href="{% url "frontpage-index" %}"><strong>home</strong></a></li>
            <li class="hyperbola-contact text-center"><a href="{% url "contact-index" %}"><strong>contact</strong></a></li>
            <li class="hyperbola-lifestream text-center"><a href="{% url "lifestream-index" %}"><strong>lifestream</strong></a></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-12">
            <div class="well well-sm section-title"><strong>{% block section-title %}{% endblock %}</strong></div>
          </div>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    {% javascript "bootstrap" %}
    {% javascript "retinajs" %}
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-30651847-1','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    {% block extrafooter %}{% endblock %}
  </body>
</html>
