{% load staticfiles %}<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} hyperbo.la {% endblock title %}</title>
    <meta name="description" content="The personal website of Ryan Lopopolo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link href="{% static "main.bundle.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "main.bundle.js" %}"></script>
    {% endblock head %}
  </head>
  <body class="{% block active_app %}{% endblock active_app %}">
    <div class="container hyperbola-container">
      <div class="row no-gutters hyperbola-header mb-3">
        <div class="col">
          <a class="hyperbola-logo text-hide" href="{% url "frontpage:index" %}">Hyperbola Front Page</a>
        </div>
        <div class="col">
          <ul class="nav justify-content-end hyperbola-nav">
            <li class="nav-item text-center">
              <a class="nav-link align-bottom {% if request.resolver_match.app_name == "frontpage" %}active{% endif %}" href="{% url "frontpage:index" %}">
                <strong class>home</strong>
              </a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link align-bottom {% if request.resolver_match.app_name == "contact" %}active{% endif %}" href="{% url "contact:index" %}">
                <strong>contact</strong>
              </a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link align-bottom {% if request.resolver_match.app_name == "lifestream" %}active{% endif %}" href="{% url "lifestream:index" %}">
                <strong>lifestream</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card hyperbola-section-title">
            <div class="card-body">
              <span class="card-title"><strong>{% block section_title %}{% endblock section_title %}</strong></span>
            </div>
          </div>
        </div>
      </div>
      {% block content %}{% endblock content %}
    </div>
    {% block footer %}
    <script>retinajs();</script>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
ga('create','UA-30651847-1','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    {% endblock footer %}
  </body>
</html>
