{% extends "base.html" %}

{% block active_app %}lifestream{% endblock %}

{% block title %} hyperbo.la :: lifestream :: archive{% endblock %}

{% block content %}
	<div id="blurbs">
		{% if posts %}
		<h2>Posts from {{month}} {{year}}</h2>
		{% for pub_date,blurb,picture_url,pk in posts %}
			<div class="blurb">
				<p class="lifestream_entry_header">{{pub_date|date:"H:i b d Y"}} <a href="/lifestream/{{pk}}/">permalink</a></p>
				{% if picture_url %}
				<div class="fullwidth"><img src="{{picture_url}}" /></div>
				{% endif %}
				<p>{{blurb|urlize}}</p>
			</div>
		{% endfor %}
		{% else %}
		<h2>No posts from {{month}} {{year}}</h2>
		{% endif %}
	</div>
	<div id="archive">
		{% include "lifestream_archive.html" %}
	</div>
{% endblock %}