{% extends "base.html" %}

{% block active_app %}lifestream{% endblock %}

{% block title %} hyperbo.la :: lifestream {% endblock %}

{% block content %}
	<div id="blurbs">
		<div class="blurb">
			<p class="lifestream_entry_header">{{pub_date|date:"H:i b d Y"}} <a href="/lifestream/{{pk}}/">permalink</a></p>
			{% if picture_url %}
			<div class="fullwidth"><img src="{{picture_url}}" /></div>
			{% endif %}
			<p>{{blurb|urlize}}</p>
		</div>
		<div id="page_links">
			{% if prev_page %}
			<div id="prev"><a href="/lifestream/{{prev_page}}/">newer</a></div>
			{% endif %}
			{% if next_page %}
			<div id="next"><a href="/lifestream/{{next_page}}/">older</a></div>
			{% endif %}
		</div>
	</div>
	<div id="archive">
		{% include "lifestream_archive.html" %}
	</div>
{% endblock %}