{% extends "base.html" %}

{% block active_app %}lifestream{% endblock %}

{% block title %} hyperbo.la :: lifestream :: archive{% endblock %}

{% block content %}
	<div id="blurbs">
		{% if posts %}
		<h2>Posts from {{month}} {{year}}</h2>
		{% for pub_date,blurb,picture_url,pk in posts %}
			{% include "blurb.html" %}
		{% endfor %}
		{% else %}
		<h2>No posts from {{month}} {{year}}</h2>
		{% endif %}
	</div>
	<div id="archive">
		{% include "lifestream_archive.html" %}
	</div>
{% endblock %}