{% extends "lifestream_base.html" %}

{% load hashtagize imagekit %}

{% block title %}
hyperbo.la :: lifestream{% if posts.number != 1 %} :: page {{ posts.number|escape }}{% endif %}
{% endblock %}

{% block lifestream-content %}
{% for post in posts %}
<div class="panel panel-hyperbola">
  <div class="panel-heading lifestream-entry-header">
  <span class="date">
    <script>HyperbolaDateFormatter.write({{ post.pub_date|date:"U" }})</script>
    <noscript>
      {{ post.pub_date|date:"H:i T b d Y"|lower }}
    </noscript>
  </span>
  <a href="{% url "lifestream-entry-permalink" post.pk %}">permalink</a>
  </div>
  <div class="panel-body">
  {% if post.lifestreampicture %}
  {% thumbnail "500x500"   post.lifestreampicture.picture crop=0 upscale=False as card %}
  {% thumbnail "1000x1000" post.lifestreampicture.picture crop=0 upscale=False as cardx2 %}
  {% thumbnail "1000x1000" post.lifestreampicture.picture crop=0 upscale=False as lightbox %}
  {% thumbnail "2000x2000" post.lifestreampicture.picture crop=0 upscale=False as lightboxx2 %}
  {# access width and height before url: https://github.com/matthewwithanm/django-imagekit/issues/350 #}
  <div>
    <a data-toggle="lightbox" href="#lightbox-{{ post.id|escape }}">
      <img alt="Photo for post {{ post.id|escape }}" width="{{ card.width|escape }}" height="{{ card.height|escape }}" src="{{ card.url|escape }}" data-at2x="{{ cardx2.url|escape }}" class="center-block img-thumbnail img-thumbnail-hyperbola">
    </a>
  </div>
  <div id="lightbox-{{ post.id|escape }}" class="lightbox fade hyperbola-lightbox" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="lightbox-dialog">
      <div class="lightbox-content hyperbola-lightbox-content">
        <img alt="Photo for post {{ post.id|escape }}" width="{{ lightbox.width|escape }}" height="{{ lightbox.height|escape }}" src="{{ lightbox.url|escape }}" data-at2x="{{ lightboxx2.url|escape }}">
        <div class="lightbox-caption">
          <p class="lifestream-content">{{ post.blurb|urlize|hashtagize }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <p class="lifestream-content">{{ post.blurb|urlize|hashtagize }}</p>
</div>
</div>
{% endfor %}
<div>
  {% if links.newer %}
  <div class="pull-left"><a href="{{ links.newer|escape }}">&laquo; newer</a></div>
  {% endif %}
  {% if links.older %}
  <div class="pull-right"><a href="{{ links.older|escape }}">older &raquo;</a></div>
  {% endif %}
</div>
{% endblock %}
