{% extends "lifestream_base.html" %}
{% load hyperbola_lifestream_tags imagekit %}

{% block title %}
{{ block.super }} {% if posts.number != 1 %} :: page {{ posts.number|escape }} {% endif %}
{% endblock title %}

{% block lifestream_content %}
{% for post in posts %}
<div class="panel panel-hyperbola">
  <div class="panel-heading lifestream-entry-header">
    <span class="date">
      <time datetime="{{ post.pub_date|date:"c" }}" id="lifestream-entry-date-{{ post.id }}">{{ post.pub_date|date:"H:i T b d Y"|lower }}</time>
      <script>HyperbolaDateFormatter.localize({{ post.pub_date|date:"U" }}, "lifestream-entry-date-{{ post.id }}")</script>
    </span>
    <a href="{{ post.get_absolute_url|escape }}">permalink</a>
  </div>
  <div class="panel-body">
    {% if post.lifestreampicture %}
    {% thumbnail "hyperbola:thumbnail" "500x500" post.lifestreampicture.picture retina_scale=1 as card_1x %}
    {% thumbnail "hyperbola:thumbnail" "500x500" post.lifestreampicture.picture retina_scale=2 as card_2x %}
    {% thumbnail "hyperbola:thumbnail" "500x500" post.lifestreampicture.picture retina_scale=3 as card_3x %}
    {# access width and height before url: https://github.com/matthewwithanm/django-imagekit/issues/350 #}
    <div>
      <a href="{{ card_3x.url|escape }}">
        <img alt="Photo for post {{ post.id|escape }}" width="{{ card_1x.width|escape }}" height="{{ card_1x.height|escape }}" src="{{ card_1x.url|escape }}" data-rjs="3" class="center-block img-thumbnail img-thumbnail-hyperbola">
        <!-- 1x: {{ card_1x.url }} -->
        <!-- 2x: {{ card_2x.url }} -->
        <!-- 3x: {{ card_3x.url }} -->
      </a>
    </div>
    {% endif %}
    <p class="lifestream-content">{{ post.blurb|urlize|hashtagize }}</p>
  </div>
</div>
{% endfor %}
<div>
  {% if links.newer %}
  <div class="pull-left"><a href="{{ links.newer|escape }}">&laquo; newer</a></div>
  {% endif %}
  {% if links.older %}
  <div class="pull-right"><a href="{{ links.older|escape }}">older &raquo;</a></div>
  {% endif %}
</div>
{% endblock lifestream_content %}
