{% extends "base.html" %}
{% load cache staticfiles %}

{% block active_app %} lifestream {% endblock active_app %}
{% block title %} {{ block.super }} :: lifestream {% endblock title %}
{% block section_title %} Lifestream {% endblock section_title %}

{% block head %}
{{ block.super }}
<!-- feed discovery -->
<link rel="alternate" type="application/rss+xml" title="hyperbo.la lifestream (RSS)" href="{% url "lifestream:rss" %}">
<link rel="alternate" type="application/atom+xml" title="hyperbo.la lifestream (Atom)" href="{% url "lifestream:atom" %}">
{% endblock head %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    {% if content_header %}
    <h2>{{ content_header|escape }}</h2>
    {% endif %}
    {% block lifestream_content %}{% endblock lifestream_content %}
  </div>
  {% cache 600 lifestream:sidebar %}
  <div class="col-md-4">
    <h3>Syndication</h3>
    <ul class="list-unstyled">
      <li class="feed-icon"><a href="{% url "lifestream:rss" %}">RSS</a></li>
      <li class="feed-icon"><a href="{% url "lifestream:atom" %}">Atom</a></li>
    </ul>
    {% regroup dates by month.year as archive %}
    {% for year in archive %}
    <h3>{{ year.grouper|escape }}</h3>
      {% for d in year.list %}
      <div class="d-flex flex-row justify-content-between mb-1">
        <a href="{% url "lifestream:archive" d.month|date:"Y" d.month|date:"m" %}">{{ d.month|date:"F" }}</a>
        <span>{{ d.post_count|escape }}</span>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
  {% endcache %}
</div>
{% endblock content %}
