{% extends "lifestream_base_paged.html" %}

{% block lifestream-posts-header %}Posts from {{month|date:"F"}} {{month|date:"Y"}}{% endblock %}

{% block lifestream-page-links %}
{% if posts.has_previous %}
{% url "lifestream.views.archive_index" month|date:"Y" month|date:"m" posts.previous_page_number as newer  %}
{% endif %}
{% if posts.has_next %}
{% url "lifestream.views.archive_index" month|date:"Y" month|date:"m" posts.next_page_number as older %}
{% endif %}
{% include "page_links.html" %}
{% endblock %}
