{% extends "lifestream_base.html" %}
{% load hyperbola_lifestream_tags %}

{% block title %}
{{ block.super }} {% if posts.number != 1 %} :: page {{ posts.number|escape }} {% endif %}
{% endblock title %}

{% block lifestream_content %}
{% for post in posts %}
<div class="card my-3 rounded hyperbola-card">
  {% if post.lifestreampicture %}
  <a href="{{ post.lifestreampicture.picture.url|escape }}">
    <img class="card-img-top img-thumbnail hyperbola-img-thumbnail" alt="Photo for post {{ post.id|escape }}" src="{{ post.lifestreampicture.picture.x1.url|escape }}" data-rjs="{{ post.lifestreampicture.picture.x2.url|escape }}">
  </a>
  {% endif %}
  <div class="card-body">
    <small class="card-subtitle">
      <local-time datetime="{{ post.pub_date|date:"Y-m-d" }}T{{ post.pub_date|time:"H:i:s" }}Z" month="short" day="numeric" year="numeric" hour="numeric" minute="numeric">
      {{ post.pub_date|date:"H:i T b d Y"|lower }}
      </local-time>
      <a href="{{ post.get_absolute_url|escape }}">permalink</a>
    </small>
    <p class="card-text lifestream-content">{{ post.blurb|urlize|hashtagize }}</p>
  </div>
</div>
{% endfor %}
<div class="d-flex flex-row justify-content-between">
  {% if links.newer %}
  <a class="align-items-start" href="{{ links.newer|escape }}">&laquo; newer</a>
  {% endif %}
  <div></div>
  {% if links.older %}
  <a class="align-items-end" href="{{ links.older|escape }}">older &raquo;</a>
  {% endif %}
</div>
{% endblock lifestream_content %}
