{% extends "base.html" %}

{% load compressed %}

{% block extrahead %}
{% compressed_css "lightbox" %}

<!-- feed discovery -->
<link rel="alternate" type="application/rss+xml" title="hyperbo.la lifestream (RSS)" href="{% url "lifestream-rss" %}">
<link rel="alternate" type="application/atom+xml" title="hyperbo.la lifestream (Atom)" href="{% url "lifestream-atom" %}">

<script>
  var HyperbolaDateFormatter=function(){var e=["jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"];var t=function(e){var t="0"+e;return t.substring(t.length-2)};var n=function(n){return t(n.getHours())+":"+t(n.getMinutes())+" "+e[n.getMonth()]+" "+t(n.getDate())+" "+n.getFullYear()};return{write:function(e){var t=new Date;t.setTime(e*1e3);document.write(n(t))}}}()
</script>
{% endblock %}

{% block section-title %}Lifestream{% endblock %}

{% block extrafooter %}
{% compressed_js "lightbox" %}
{% endblock %}
