[Unit]
Description=Gunicorn server for hyperbola django (%i)
After=syslog.target
After=network.target

[Service]
Type=simple
PIDFile=/var/run/hyperbola-%i/gunicorn.pid
User=www-data
Group=www-data
WorkingDirectory=/hyperbola/%i/artifacts/current
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir /var/run/hyperbola-%i
ExecStartPre=/bin/chown -R www-data:www-data /var/run/hyperbola-%i/
ExecStart=/bin/sh -c "exec /hyperbola/%i/artifacts/current/bin/artifact-exec gunicorn --config /hyperbola/%i/artifacts/current/gunicorn/hyperbola-%i.py hyperbola.wsgi:application"
PrivateTmp=true

[Install]
WantedBy=multi-user.target
