[Unit]
Description=Gunicorn server for hyperbola django (staging)
After=syslog.target
After=network.target

[Service]
Type=forking
PIDFile=/var/run/hyperbola-staging/gunicorn.pid
User=www-data
Group=www-data
WorkingDirectory=/hyperbola/staging/artifacts/current
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir /var/run/hyperbola-staging
ExecStartPre=/bin/chown -R www-data:www-data /var/run/hyperbola-staging/
ExecStart=/hyperbola/staging/artifacts/current/bin/artifact-exec gunicorn --config /hyperbola/staging/artifacts/current/gunicorn/hyperbola-staging.py hyperbola.wsgi:application
PrivateTmp=true

[Install]
WantedBy=multi-user.target
