{% extends "base.html" %}
{% load hyperbola_core_tags %}

{% block active_app %} contact {% endblock active_app %}
{% block title %} {{ block.super }} :: Contact {% endblock title %}
{% block section_title %} Contact Information {% endblock section_title %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>{{ name|escape }}</h1>
    {% for contact in contacts %}
    {% ifchanged contact.type %}
    <h2>{{ contact.type.type|escape }}</h2>
    {% endifchanged %}
    <div class="row">
      <div class="col-md-4 hyperbola-ellipsis">{{ contact.display_name|escape }}</div>
      {% if contact.is_url %}
      <div class="col-md-8 hyperbola-ellipsis">
        <a href="{{ contact.value|escape }}">{{ contact.display_value|escape }}</a>
      </div>
      {% elif contact.is_email %}
      <div class="col-md-8 hyperbola-ellipsis">{{ contact.display_value|anti_spamize }}</div>
      {% else %}
      <div class="col-md-8 hyperbola-ellipsis">{{ contact.display_value|escape }}</div>
      {% endif %}
    </div>
    {% endfor %}
    {% if resume %}
    <h2>Résumé</h2>
    <div class="row">
      <div class="col-md-4 hyperbola-ellipsis">
        <relative-time datetime="{{ resume.date|date:"Y-m-d" }}" month="short" day="numeric" year="numeric" hour="numeric" minute="numeric">
          {{ resume.date|date:"b d Y" }}
        </relative-time>
      </div>
      <div class="col-md-8 hyperbola-ellipsis">
        <a href="{%  fullurl resume.get_absolute_url %}">{%  fullurl resume.get_absolute_url %}</a>
      </div>
    </div>
    {% endif %}
  </div>
  {% if about %}
  <div class="col-md-4">
    <h2>About</h2>
    <div class="card mb-3 rounded hyperbola-card">
      <a href="{{ about.photo.url|escape }}">
        <img class="card-img-top img-thumbnail hyperbola-img-thumbnail" alt="Ryan Lopopolo" src="{{ about.photo.x1.url|escape }}" data-rjs="{{ about.photo.x2.url|escape }}">
      </a>
      <div class="card-body">
        <p class="card-text">{{ about.blurb|escape }}</p>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}
