{% extends "base.html" %}

{% load markdown_deux_tags %}

{% block active_app %}frontpage{% endblock %}

{% block title %} hyperbo.la {% endblock %}

{% block section-title %}hyperbo.la{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      {% for blurb in blurbs %}
        <div class="blurb">
          <h2>{{blurb.title}}</h2>
          {{blurb.body|markdown}}
        </div>
      {% endfor %}
    </div>

    <div class="col-md-4">
      <div class="panel panel-hyperbola">
        <div class="panel-heading text-center">What I'm into right now</div>
        <table class="table table-condensed table-hyperbola">
          {% for sched in schedule %}
          <tr><td> {{sched.body|markdown}} </td></tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
