{% extends "base.html" %}
{% load hyperbola_core_tags %}

{% block active_app %} frontpage {% endblock active_app %}
{% block section_title %} hyperbo.la {% endblock section_title %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    {% for blurb in blurbs %}
    <div class="card hyperbola-card mb-3">
      <div class="card-body">
        <div class="card-title">
          <h2>{{ blurb.title|escape }}</h2>
        </div>
        <div class="card-text">{{ blurb.body|markdown }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <div class="d-flex flex-column">
      <h2>Current Pursuits</h2>
      {% for sched in schedule %}
      <div>{{ sched.body|markdown }}</div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
