{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block active_app %} frontpage {% endblock active_app %}
{% block section_title %} hyperbo.la {% endblock section_title %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    {% for blurb in blurbs %}
    <div class="panel panel-hyperbola">
      <div class="panel-heading">
        <h2 class="panel-title-hyperbola-frontpage">{{ blurb.title|escape }}</h2>
      </div>
      <div class="panel-body">{{ blurb.body|markdown }}</div>
    </div>
    {% endfor %}
  </div>

  <div class="col-md-4">
    <div class="panel panel-hyperbola">
      <div class="panel-heading">
        <h2 class="panel-title">What I'm into right now</h2>
      </div>
      <table class="table table-hyperbola-frontpage">
        <tbody>
          {% for sched in schedule %}
          <tr><td>{{ sched.body|markdown }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
