@CHARSET "UTF-8";

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* hyperbola styles */

/* global overrides */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background-color: #151515;
  color: darkgray;
  height: 100%;
  margin: 0px;
}

a {
  color: rgb(40, 220, 220) !important;
  -webkit-tap-highlight-color: rgba(128,128,128,0.2);
}

.hyperbola-hide {
  display: none;
}

/* site layout */
.hyperbola-content {
  background-color: #222222;
  color: darkgray;
  width: auto;
  padding: 5px;
  position: relative;
  min-height: 150px;
  border-radius: 4px;
}

.section-padding {
  padding-left: 1em;
  padding-right: 1em;
}

.section-title {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #444444;
  color: rgb(40, 220, 220);
  font-weight: bold;
  border-radius: 4px;
}

/* header */
.hyperbola-navbar {
  background-color: #444444;
  border: none;
}

.hyperbola-header .navbar-toggle {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.hyperbola-navbar a {
  outline: none;
}

.hyperbola-logo {
  float: left;
}

.hyperbola-logo img {
  display: block;
  margin: auto;
  border-style: none;
}

.hyperbola-nav-items li a {
  display: block;
  line-height: 20px;
  padding: 50px 16px 10px;
  text-align: center;
  font-weight: bold;
}

.hyperbola-nav-items li a:hover {
  background: #AAAAAA !important;
}

body.frontpage .hyperbola-nav-items li.hyperbola-home a {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#AAAAAA')"; /* for IE */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#AAAAAA'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#AAAAAA)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #444444,  #AAAAAA); /* for firefox 3.6+ */
}

body.contact .hyperbola-nav-items li.hyperbola-contact a {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#AAAAAA')"; /* for IE */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#AAAAAA'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#AAAAAA)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #444444,  #AAAAAA); /* for firefox 3.6+ */
}

body.lifestream .hyperbola-nav-items li.hyperbola-lifestream a {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#AAAAAA')"; /* for IE */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#AAAAAA'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#AAAAAA)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #444444,  #AAAAAA); /* for firefox 3.6+ */
}

/* frontpage */
.blurb {
  border: 2px solid rgb(40, 220, 220);
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.newsfeed {
  border: 2px #AAAAAA solid;
  border-radius: 4px;
}

.news {
  font-size: 10pt;
  padding: 2px;
}

.pubdate {
  font-size: 8pt;
}

.row1 {
  background-color: #222222;
}

.row2 {
  background-color: #666666;
  color: #111111;
}

.news-title {
  color: #111111;
  background-color: #AAAAAA;
  margin: 0px;
  padding: 0px;
  font-size:12pt;
  text-align: center;
}

/* contact */
.hyperbola-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* lifestream */
.hyperbola-lightbox-content {
  width: initial !important;
  height: initial !important;
}

.lightbox .lightbox-dialog .lightbox-content.hyperbola-lightbox-content .lightbox-caption {
  position: relative;
  left: initial;
  right: initial;
  top: initial;
  bottom: initial;
}

.lifestream-entry-header {
  font-size: 8pt;
  margin-top: 1em;
}

.lifestream-entry-header .date:after {
  content: " ";
}

.fullwidth {
  width: 100%;
}

.fullwidth img {
  max-width: 80%;
  height: auto;
  margin: auto;
  display: block;
}

.next-page {
  float: right;
}

.prev-page {
  float: left;
}

ul.syndication {
  list-style-image: url("/public/images/feed-icon-14x14.png");
}

.floatfix {
  clear: both;
}

