# environment
ENVIRONMENT='{{ hyperbola_environment }}'
SECRET_KEY='{{ app_django_secret_key.stdout|trim }}'

# database
DB_HOST='{{ app_hyperbola_env.db_host }}'
DB_PORT='{{ app_hyperbola_env.db_port }}'
DB_USER='{{ app_hyperbola_env.db_user }}'
DB_PASSWORD='{{ app_hyperbola_env.db_password }}'
DB_NAME='{{ app_hyperbola_env.db_name }}'
