/* global overrides */
html {
    -webkit-tap-highlight-color: rgba(128, 128, 128, 0.2);
}

body {
    background-color: #222;
    color: darkgray;
}

a,
a:hover {
    color: rgb(40, 220, 220);
}

a:focus {
    outline-color: rgb(40, 220, 220);
    color: darkgray;
}

/* site layout */
.hyperbola-section-title {
    background-color: #444;
    color: rgb(40, 220, 220);
    border-style: none;
}

.hyperbola-jumbotron {
    background-color: #444;
}

.hyperbola-btn-info {
    color: #444;
    background-color: rgb(40, 220, 220);
    border-color: #444;
}

.img-thumbnail-hyperbola {
    background-color: transparent;
    border: none;
}

/* header */
.hyperbola-header {
    background-color: #444;
    border: none;
    height: 80px;
}

.hyperbola-logo {
    display: block;
    margin: 0;
    border-style: none;
    background: url("img/logo.header.svg") no-repeat;
    background-size: cover;
    height: 80px;
    width: 230px;
}

.nav-link {
    color: darkgray;
    line-height: 20px;
    padding-top: 50px;
    height: 80px;
}

.nav-link:hover {
    background: darkgray;
    color: rgb(40, 220, 220);
}

.nav-link:focus {
    color: darkgray;
}

.nav-link:focus:hover {
    color: rgb(40, 220, 220);
}

.nav-link.active {
    color: rgb(40, 220, 220);
    background-image: -webkit-linear-gradient(top, #444 0%, darkgray 100%);
    background-image: linear-gradient(to bottom, #444 0%, darkgray 100%);
}

.panel-hyperbola {
    background-color: transparent;
    border: 2px solid rgb(40, 220, 220);
    border-radius: 10px;
}

/* frontpage */
.panel-title-hyperbola-frontpage {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}

.table-hyperbola-frontpage > thead > tr > th,
.table-hyperbola-frontpage > tbody > tr > th,
.table-hyperbola-frontpage > tfoot > tr > th,
.table-hyperbola-frontpage > thead > tr > td,
.table-hyperbola-frontpage > tbody > tr > td,
.table-hyperbola-frontpage > tfoot > tr > td {
    border-top: 2px solid rgb(40, 220, 220);
}

/* contact */
.hyperbola-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.img-thumbnail-hyperbola-contact {
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
    max-width: 240px;
    max-height: 240px;
}

/* lifestream */
.lifestream-content a {
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.lifestream-entry-header {
    font-size: 8pt;
    margin-top: 1em;
    padding: 0 15px;
}

.lifestream-entry-header  local-time:after {
    content: " ";
}

.img-thumbnail-hyperbola-lifestream {
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
}

.feed-icon {
    background: url(img/Feed-icon.svg) no-repeat left center;
    background-size: 14px 14px;
    padding-left: 20px;
}
