/* global overrides */
html {
    -webkit-tap-highlight-color: rgba(128, 128, 128, 0.2);
}

body {
    background-color: #222;
    color: darkgray;
}

a,
a:hover {
    color: rgb(40, 220, 220);
}

a:focus {
    outline-color: rgb(40, 220, 220);
    color: darkgray;
}

/* site layout */
.hyperbola-section-title {
    background-color: #444;
    color: rgb(40, 220, 220);
    border-style: none;
}

.hyperbola-jumbotron {
    background-color: #444;
}

.hyperbola-img-thumbnail {
    background-color: transparent;
    border: none;
}

/* header */
#navbar-toggle-checkbox {
    display: none;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }

    #navbar-toggle-checkbox ~ .collapse {
        display: block;
    }
}

#navbar-toggle-checkbox:checked ~ .hyperbola-logo {
    display: none;
}

#navbar-toggle-checkbox:checked ~ .collapse {
    display: block;
}

.navbar-toggle {
    font-size: 20pt;
}

.hyperbola-header {
    background-color: #444;
    border: none;
    height: 80px;
}

.hyperbola-logo {
    display: block;
    margin: 0;
    border-style: none;
    background: url("img/logo.header.svg") no-repeat;
    background-size: cover;
    height: 80px;
    width: 230px;
}

.nav-link {
    color: darkgray;
    line-height: 20px;
    padding-top: 50px;
    padding-left: 12px;
    padding-right: 12px;
    height: 80px;
}

.nav-link:hover {
    background: darkgray;
    color: #222;
}

.nav-link:focus {
    color: darkgray;
}

.nav-link:focus:hover {
    color: #222;
}

.nav-link.active {
    color: rgb(40, 220, 220);
    background-image: linear-gradient(to bottom, #444 0%, darkgray 100%);
}

.hyperbola-card {
    background-color: transparent;
    border: 2px solid rgb(40, 220, 220);
}

.hyperbola-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

/* lifestream */
.lifestream-content a {
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    min-width: 0;
}
