/* global overrides */
html {
    -webkit-tap-highlight-color: rgba(128, 128, 128, 0.2);
}

body {
    background-color: #222;
    color: darkgray;
}

a,
a:hover {
    color: rgb(40, 220, 220);
}

a:focus {
    outline-color: rgb(40, 220, 220);
    color: darkgray;
}

/* site layout */
.hyperbola-section-title {
    background-color: #444;
    color: rgb(40, 220, 220);
    border-style: none;
}

.hyperbola-jumbotron {
    background-color: #444;
}

.hyperbola-img-thumbnail {
    background-color: transparent;
    border: none;
}

/* header */
.hyperbola-header {
    background-color: #444;
    border: none;
    height: 80px;
}

.hyperbola-logo {
    display: block;
    margin: 0;
    border-style: none;
    background: url("img/logo.header.svg") no-repeat;
    background-size: cover;
    height: 80px;
    width: 230px;
}

.nav-link {
    color: darkgray;
    line-height: 20px;
    padding-top: 50px;
    height: 80px;
}

.nav-link:hover {
    background: darkgray;
    color: #222;
}

.nav-link:focus {
    color: darkgray;
}

.nav-link:focus:hover {
    color: #222;
}

.nav-link.active {
    color: rgb(40, 220, 220);
    background-image: linear-gradient(to bottom, #444 0%, darkgray 100%);
}

.hyperbola-card {
    background-color: transparent;
    border: 2px solid rgb(40, 220, 220);
}

.hyperbola-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* lifestream */
.lifestream-content a {
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}
