/*
    Name:       Base16 Solarized Dark
    Author:     Ethan Schoonover (http://ethanschoonover.com/solarized)
    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)
*/

.syntax {
    background: #002b36;
    color: #fdf6e3;
    pre {
        background: #002b36;
        color: #fdf6e3;
    }
    .hll {
        background-color: #586e75;
    }
    .c {
        color: #657b83;
    }
    .err {
        color: #dc322f;
    }
    .k {
        color: #6c71c4;
    }
    .l {
        color: #cb4b16;
    }
    .n {
        color: #fdf6e3;
    }
    .o {
        color: #2aa198;
    }
    .p {
        color: #fdf6e3;
    }
    .cm,
    .cp,
    .c1,
    .cs {
        color: #657b83;
    }
    .gd {
        color: #dc322f;
    }
    .ge {
        font-style: italic;
    }
    .gh {
        color: #fdf6e3;
        font-weight: bold;
    }
    .gi {
        color: #859900;
    }
    .gp {
        color: #657b83;
        font-weight: bold;
    }
    .gs {
        font-weight: bold;
    }
    .gu {
        color: #2aa198;
        font-weight: bold;
    }
    .kc,
    .kd {
        color: #6c71c4;
    }
    .kn {
        color: #2aa198;
    }
    .kp,
    .kr {
        color: #6c71c4;
    }
    .kt {
        color: #b58900;
    }
    .ld {
        color: #859900;
    }
    .m {
        color: #cb4b16;
    }
    .s {
        color: #859900;
    }
    .na {
        color: #268bd2;
    }
    .nb {
        color: #fdf6e3;
    }
    .nc {
        color: #b58900;
    }
    .no {
        color: #dc322f;
    }
    .nd {
        color: #2aa198;
    }
    .ni {
        color: #fdf6e3;
    }
    .ne {
        color: #dc322f;
    }
    .nf {
        color: #268bd2;
    }
    .nl {
        color: #fdf6e3;
    }
    .nn {
        color: #b58900;
    }
    .nx {
        color: #268bd2;
    }
    .py {
        color: #fdf6e3;
    }
    .nt {
        color: #2aa198;
    }
    .nv {
        color: #dc322f;
    }
    .ow {
        color: #2aa198;
    }
    .w {
        color: #fdf6e3;
    }
    .mf,
    .mh,
    .mi,
    .mo {
        color: #cb4b16;
    }
    .sb {
        color: #859900;
    }
    .sc {
        color: #fdf6e3;
    }
    .sd {
        color: #657b83;
    }
    .s2 {
        color: #859900;
    }
    .se {
        color: #cb4b16;
    }
    .sh {
        color: #859900;
    }
    .si {
        color: #cb4b16;
    }
    .sx,
    .sr,
    .s1,
    .ss {
        color: #859900;
    }
    .bp {
        color: #fdf6e3;
    }
    .vc,
    .vg,
    .vi {
        color: #dc322f;
    }
    .il {
        color: #cb4b16;
    }
}
