# environment
export ENVIRONMENT="{{ hyperbola_environment }}"
export SECRET_KEY='{{ app_django_secret_key.stdout|trim }}'

# database
export DB_HOST="{{ app_hyperbola_env.db_host }}"
export DB_PORT="{{ app_hyperbola_env.db_port }}"
export DB_USER="{{ app_hyperbola_env.db_user }}"
export DB_PASSWORD='{{ app_hyperbola_env.db_password }}'
export DB_NAME="{{ app_hyperbola_env.db_name }}"
